body {
  padding: 20px 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputDiv input {
  padding: 8px;
  width: 40px;
  margin: 0 3px;
}

.inputDiv button {
  margin-left: 12px;
  padding: 8px 12px;
  min-width: 80px;
}

#numberList {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  min-height: 17px;
}
